<h1>Account List</h1>
<div >
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let a of accounts">{{a.accountId}},{{a.name}}
      <button type="button" class="btn btn-primary" (click)="onClick(a.id)" [(ngModel)]="accounts">Details</button>
    </li>
  </ul>
</div>